.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }

  .centered{
    color: rgb(99, 71, 126);
  }
  .centered2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }

  .centered2{
    color: rgb(99, 71, 126);
  }
  .centered3 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }

  .centered3{
    color: rgb(99, 71, 126);
  }
  
